Source: ros-noetic-boxer-control
Section: misc
Priority: optional
Maintainer: Chris Iverach-Brereton <civerachb@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), python3-catkin-pkg, ros-noetic-boxer-msgs, ros-noetic-catkin, ros-noetic-cmake-modules, ros-noetic-controller-interface, ros-noetic-diagnostic-updater, ros-noetic-diff-drive-controller, ros-noetic-nav-msgs, ros-noetic-roslaunch, ros-noetic-roslint, ros-noetic-std-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-noetic-boxer-control
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-boxer-msgs, ros-noetic-controller-interface, ros-noetic-controller-manager, ros-noetic-diagnostic-aggregator, ros-noetic-diagnostic-updater, ros-noetic-diff-drive-controller, ros-noetic-joint-state-controller, ros-noetic-joy, ros-noetic-nav-msgs, ros-noetic-nodelet, ros-noetic-robot-localization, ros-noetic-robot-state-publisher, ros-noetic-std-msgs, ros-noetic-teleop-twist-joy
Description: Controllers and control configuration for BOXER.
